FIREB_TYPE=""
FIREB_PROJECT_ID=""
FIREB_PRIVATE_KEY_ID=""
FIREB_PRIVATE_KEY=""
FIREB_CLIENT_EMAIL=""
FIREB_CLIENT_ID=""
FIREB_AUTH_URI=""
FIREB_TOKEN_URI=""
FIREB_AUTH_PROVIDER_X509_CERT_URL=""
FIREB_CLIENT_X509_CERT_URL=""
FIREB_UNIVERSE_DOMAIN=""
x